In [4]:
## This is a test

import pandas as pd
import plotly
from datetime import datetime
import dateutil.parser
import numpy as np

runs = pd.read_csv("runs.csv")

## Convert dates to datetime objects
# runs['Activity Date'] = np.dateutil.parser.parse(runs['Activity Date'])
runs['Activity Date'] = pd.to_datetime(runs['Activity Date'])
runs.head()

## Reduce to runs from July 2019 or later
runs = runs[runs['Activity Date'].year]

## Find MR+
MR_plus = runs[runs['Activity Date'].weekday() == 2]

,Activity ID,Activity Date,Activity Name,Activity Type,Activity Description,Elapsed Time,Distance,Relative Effort,Commute,Activity Gear,...,Sunset Time,Moon Phase,Bike,Gear,Precipitation Probability,Precipitation Type,Cloud Cover,Weather Visibility,UV Index,Weather Ozone
0,2490493450,2019-04-10 00:00:20,Afternoon Run,Run,NaN,38,0.16,NaN,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2490493459,2019-04-09 23:23:59,Afternoon Run,Run,NaN,78,0.35,NaN,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2490493461,2019-04-09 23:55:04,Afternoon Run,Run,NaN,37,0.17,NaN,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2490493464,2019-04-09 22:23:58,Afternoon Run,Run,NaN,843,2.42,NaN,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2490493476,2019-04-09 23:46:34,Afternoon Run,Run,NaN,78,0.35,NaN,False,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
## Does this actually add a cell?